<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!--========================================================================-->
<!-- 一般的なコンソール出力ログ -->
<!-- ERRORとFATALのみが出力される -->
<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
	<param name="Target"	value="System.out"/>

	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%p] %x %m - %l%n" />
	</layout>

	<filter class="org.apache.log4j.varia.LevelRangeFilter">
		<!--debug < info < warn < error < fatal-->
		<param name="levelMin"	value="debug"/>
		<param name="levelMax"	value="fatal"/>
	</filter>
</appender>
</log4j:configuration>
